
{% if site.life_cycle == "pre-alpha" %}

<div class="life-cycle">
  <div class="alert pre-alpha">
    This lesson is still being designed and assembled (Pre-Alpha version)
  </div>
</div>


{% elsif site.life_cycle == "alpha" %}

<div class="life-cycle">
  <div class="alert alpha">
    This lesson is in the early stages of development (Alpha version)
  </div>
</div>


{% elsif site.life_cycle == "beta" %}

<div class="life-cycle">
  <div class="alert beta">
    This lesson is being piloted (Beta version)
  </div>
</div>

{% elsif site.life_cycle == "stable" %}

{% comment %}
We don't do anything special for now
{% endcomment %}

{% endif %}
